@(categorySummaries : List[CategorySummary], chartValues : ChartValues)
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/lib/chart.js/dist/Chart.js"></script>
    </head>
    <body>
        <table class="table">
           <tr>
               <th>Category</th>
               <th>Distinct Order</th>
               <th>Total Sold</th>
               <th>Total Sales</th>
           </tr>
        @for(categorySummary<-categorySummaries){
           <tr>
               <td>@categorySummary.getCategoryName</td>
               <td>@categorySummary.getFormattedDistinctOrders</td>
               <td>@categorySummary.getFormattedTotalSold</td>
               <td>@categorySummary.getFormattedTotalSales</td>
           </tr>
        }
        </table>
        <div id="canvas-holder">
            <canvas id="chart-area"></canvas>
        </div>
        <script src="/assets/javascripts/soldPerCategory.js" id="piechart" data-values="@chartValues.getDataValues" color-values="@chartValues.getColorValues" label-values="@chartValues.getLabelValues"></script>
    </body>
</html>