@(chartData : String)
@doctype.render
<html>
    <head>
        <title>Pie Chart</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/lib/chart.js/dist/chart.js"></script>
        <script src="/assets/javascripts/mychartjson.js" id="piechart" data-values="@chartData"></script>
    </head>
    <body>
        <div class="container">
            <div id="canvas-holder">
                <canvas id="chart-area"></canvas>
            </div>
        </div>
    </body>
</html>
