@(employee : Employee, reports : List[Employee], reportsToEmployee : Employee, state : State)
@doctype.render
<html lang="en">
    @header.render(employee.getLastName)
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Employee Secret Information</h1>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="row mb-2">
                        <div class="col-4">
                            <label class="badge badge-info">First Name</label>
                            @employee.getFirstName
                        </div>
                        <div class="col-4">
                            <label class="badge badge-info">Birthdate</label>
                            @employee.getBirthdate
                        </div>
                        <div class="col-4">
                            <label class="badge badge-info">Hiredate</label>
                            @employee.getHireDate
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="badge badge-info">Last Name</label>
                            @employee.getLastName
                        </div>
                        <div class="col-4">
                            <label class="badge badge-info">Reports to</label>
                            @if(reportsToEmployee == null){
                               None
                            } else {
                               @reportsToEmployee.getLastName
                            }
                        </div>
                        <div class="col-4">
                            <label class="badge badge-info">State</label>
                            @state.getStateName
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-info">
                            <strong>Danger!</strong> This person is a time traveller
                        </div>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <img src="/employeepicture/@employee.getEmployeeId">
                </div>
            </div>
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3 text-center">
                    <label class="badge badge-info">Direct Reports</label>
                    @for(report <- reports){
                    <p>@report.getLastName</p>
                    }
                </div>
            </div>
        </div>
    </body>
</html>